$primary-color: #000;
$text-color: #000;

/* MAP */

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700,
);

/* EXTEND */

.card {
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
}

//Variables

//Colores
$color-black: #131826;
$color-grey: #757171;
$color-white: #f7f7f7;
$color-red: #ff0303;

$colors:(
    "color-black": #131826,
    "color-grey": #757171,
    "color-white": #f7f7f7,
    "color-red": #ff0303
);

